body{
    background-color: #fde6da;
}
#principal{
    width: 1602px;
    height: 8000px;
    
    margin: auto auto;
}
#topo{
    width: 1444px;
    height: 1302;
    margin: 109px 79px 122px 79px;
    box-shadow: 10px -10px 100px #8f847c;
}
#topoCima{
    width: 1396;
    height: 239px;
    background-color: #e2e9e9;
    padding-top: 54px;
    padding-right: 48px;
}
#topoCima p{
    font-family: 'Corporate S';
    font-size: 23px;
    text-align: right;
}
#paragrafo{
    color: white;
}
#topoBaixo{
    width: 100%;
    height: 1065px;
    padding-top: 46px;
    background-color: white;
}
#texto{
    margin: 0px 84px 14px;
    font-size: 50px;
    font-weight: bold;
    font-family:'Italiana';
    color: #000000;
}
#frase{
    margin: 77px 84px 14px;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Corporate S';
    color: #d1d1d1;
}
#topoFotos{
    float: right;
    margin-top: 129px;
    
}
#x{
    margin: 71px 81px ;
    float: right;
}
#baixo{
    width: 1444px;
    height: 6500px;
    margin-top: 223px;
    margin-left: 79px;
    margin-right: 79px;
    background-color: white;
    box-shadow: 10px -10px 100px #8f847c;
    
}
#baixoTopo{
    width: 1444px;
    height: 668px;
}
#baixoTopoEsquerda{
    width: 464px;
    height: 670px;
    float: left;
}
table,th,td{
    font-size: 20px;
    font-family: 'Corporate S';
    color: black;
    padding-left: 69px;
    margin-left: 100px;
    text-align: left;

}
table{
    margin-top: 211px;
    margin-bottom: 50px;
    width: 211px;
}
th{
    margin-bottom: 21px;
    color: #b4d4db;
}
#baixoTopoEsquerda p{
    font-size: 20px;
    font-family: 'Corporate S';
    margin-left: 358px;
}
#baixoTopoDireita{
    width: 980px;
    height: 670px;
    float: right;
}
#baixoTopoDireita p{
    font-size: 22px;
    margin-left: 195px;
    width: 580px;
    text-align: left;
    color: #2f2f2f;

}
#corFotos1{
    width: 1444px;
    height: 763px;
    background-color: #e2e9e9;
}
#corFotos1 img{
    float: right;
}
#abaixoFotos1{
    margin-top: 314px;
    margin-left: 182px;
    font-family: 'Corporate S';
    color: #2f2f2f;
    width: 500px;
    text-align: left;
    font-size: 22px;
    height: 850px;
}
#corFotos2{
    width: 1444px;
    height: 763px;
    background-color: #e2e9e9;
    
}
#corFotos2 img{
    float: left;
}
#abaixoFotos2{
    float: right;
    width: 791px;
    height: 850;
    margin-top: 107px;

    
}
#abaixoFotos2 p{
    font-family: 'Corporate S';
    color: #2f2f2f;
    text-align: left;
    font-size: 22px;
    margin-left: 182px;
    width: 490px;
    
}
#abaixoFotos2 img{
    float: right;
}
#corFotos3{
    margin-top: 1164px;
    width: 1444px;
    height: 763px;
    background-color: #e2e9e9;
}
#corFotos3 img{
    position: relative;
    top: -210px;
    left: 120px;
}
#final{
    width: 1444px;
    height: 410px;
    background-color: #f5f5f5;

}
#finalEsquerda{
    width: 722px;
    height: 200px;
    float: left;
    margin-left: 11px;
    margin-top: 39px;
}
#finalEsquerda p{
    float: left;
    margin-left: 30px;
    padding-top: 50px;
    padding-left: 30px; ;
}
#finaltexto{
    position: relative;
    top: 220px;
    left: -430px;

}
#finalDireito{
    width: 700px;
    height: 384px;
    float: right;
    margin-right: 11px;
    margin-top: 39px;
}
#finalDireito p{
    float: right;
    margin-right: 30px;
    padding-top: 50px;
    padding-right: 30px; ;
}
button{
    position: relative;
    left: 550px;
    top: 270px;
    background: transparent;
    outline: none;
    border: solid 2px rgb(70, 70, 70);
    border-radius: 20px;
    color: rgb(70, 70, 70);
    font-size: 25px;
    font-weight: bold;
    cursor: pointer;
}