a:link, a:visited{
    text-decoration: none;
    cursor: auto;
}
body{
    background-color: #6896e4;
    background-image: linear-gradient(to top, #6896e4, rgb(231, 231, 231));
    background-repeat: no-repeat;
    font-family: 'Hind';
}
#main{
    display: flex;
    flex-direction: row;
    width: 900px;
    height: 1200px;
    margin: auto auto;
    box-shadow: 2px 2px 100px #000000;
    background-color: white;
}
#left-container{
    display: flex;
    flex-direction:column;
    align-items:center;
    text-align: left;
    width: 300px;
    height: 100%;
    background-color:#9ea2a5 ;
    background-image: linear-gradient(to bottom, #6896e4, #4c76bd);
}
#photo{
    filter:opacity(0.9);
    margin-top: 50px;
    max-width: 250px;
    height: 250px;
    border: solid 5px #4e79c5;
    border-radius: 50%;
}
#social-icon{
    display: flex;
    flex-wrap: wrap;
    align-items:center;
    justify-content: center;
}
.icons{
    width: 35px;
    margin: 8px;
    cursor: pointer;
}
.skills{
    color: white;
    text-align: center;
    font-size: 27px;
    font-weight: bold;
    margin: 10px;
}
.skills p{
    margin: 10px;
    font-size: 16px;
    font-weight: 300;
}
.skills span{
    color: rgb(253, 226, 226);
}
#right-container{
    display: flex;
    flex-direction: column;
    width: 600px;
    height: 100%;
    background-color:#9ea2a5 ;
    background-image: linear-gradient(to bottom, #f5f5f5, #dadada);
}
#full-name{
    width: 500px;
    font-weight: bold;
    font-size: 60px;
    text-align: left;
    color: #4e79c5;
    margin: 50px 0 0 20px;
}
.formation{
    font-weight: bold;
    font-size: 18px;
    text-align: left;
    color: #5a5a5a;
    margin: 0 20px;
}
.semi-title{
    background-image:linear-gradient(to right,#6896e4,#4c76bd);
    font-weight: bold;
    font-size: 27px;
    color:white;
    width: 350px;
    padding-left: 20px;
}
.activity{
    font-size: 16px;
    color: white;
    width: 500px;
    color: #5a5a5a;
    margin: 0 0 15px 20px;
}
.back-button{
    width: 900px;
    margin: 5px auto;
}
.back-button button{
    background: transparent;
    outline: none;
    border: solid 2px white;
    border-radius: 20px;
    color: white;
    font-size: 25px;
    font-weight: bold;
    cursor: pointer;
}

::-webkit-scrollbar {
    width: 0.6vw;
}
::-webkit-scrollbar-track {
    background: #c9c9c9;
}
::-webkit-scrollbar-thumb {
    background: #8f8f8f;
    border-radius: 5px 5px; 
}
::-webkit-scrollbar-thumb:hover {
    background: #777777;
    border-radius: 5px 5px;
}

@media(max-width:950px){
    body{
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
    }
    #main{
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 100%;
    }
    #left-container{
    width: 50%;
    height: 1251px;
    }
    #photo{
        max-width: 150px;
        height: 150px;
        border: solid 3px #4e79c5;
    }
    #social-icon{
        max-width: 130px;
    }
    #right-container{
        width: 100%;
        height: 1251px;
    }
    #full-name{
        width: 300px;
        font-size: 28px;
    }
    .activity{
        width: 300px;
    }
    .semi-title{
        font-size: 27px;
        width: 250px;
    }
    .back-button{
        display: none;
    }
}
