.corescura:hover{
    background:#ea3775 ;
    background-image: linear-gradient(#ea3775,#e77ca2);
}
.corclara:hover{
    background:#ea3775 ;
    background-image: linear-gradient(#ea3775,#e77ca2);
}
body{
    background-image: url('https://images7.alphacoders.com/740/thumb-1920-740377.png');
    background-size: cover;
}
h1{
    font-family: 'Press Start 2P', cursive;
    color: white;
    text-shadow: 0 0 10px #ea3775, 0 0 20px #ea3775, 0 0 30px #ea3775, 0 0 40px #ea3775, 0 0 50px #ea3775, 0 0 60px #ea3775, 0 0 70px #ea3775;
}
#titulo{
    display: flex;
    justify-content: center;
    font-size: 20px;
    color: #221306;
}
.container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 900px;
    height: 900px;
    margin: auto;
    border: solid 50px #3e4bfdf1;
    margin-bottom: 100px;
    box-shadow: 10px 5px 50px #040614f1;
}
.container p{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 100px ;
    margin: 0px;
    background: #040614f1;
    text-shadow: 0 0 10px #ea3775, 0 0 20px #ea3775, 0 0 30px #ea3775, 0 0 40px #ea3775, 0 0 50px #ea3775, 0 0 60px #ea3775, 0 0 70px #ea3775;
    color: white;
}
.container div{
    display: flex;
    flex-direction: row;
    width: 100px;
    height: 100px;
}
.container img{
    cursor: grab;
}
.corclara{
    background: #a7dbef;
    background-image: linear-gradient(#a7dbef,#3a90de);
    display: flex;
    justify-content: center;
    align-items: center;
}
.corescura{
    background: #1a1a82;
    background-image: linear-gradient(#1a1a82,#2337ac);
    display: flex;
    justify-content: center;
    align-items: center;
}
button{
    position: relative;
    top: 6px;
    background: transparent;
    outline: none;
    border: solid 2px rgb(255, 255, 255);
    border-radius: 20px;
    color: rgb(255, 255, 255);
    font-size: 25px;
    font-weight: bold;
    cursor: pointer;
}

